#                                               DAY 1:Basic probs

# Q1

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).The numbers obtained should be printed in a comma-separated sequence on a single line.

In [34]:
for i in range(2000,3201):
    if i %7==0 and i%5!=0:
        print(i,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,


# Q2

Write a program which can compute the factorial of a given numbers.The results should be printed in a comma-separated sequence on a single line.Suppose the following input is supplied to the program: 8 Then, the output should be:40320

In [35]:
def fact(n):
    if n==0 or n==1:
        return 1
    return n*fact(n-1)

or using reduce

In [36]:
from functools import reduce

In [37]:
n=4
def fact(acc,item):
    return acc*item
    
print(reduce(fact,range(1,n+1),1))

24

# Q3

With a given integral number n, write a program to generate a dictionary that contains (i, i x i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.Suppose the following input is supplied to the program: 8

Then, the output should be:

In [33]:
def dictionary(n):
    d={}
    for i in range(1,n+1):
        d[i]=i*i
    print(d)

dictionary(20)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

# Q4

Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.Suppose the following input is supplied to the program:

In [1]:
x= input().split(",")
y=tuple(x)

1,2,4,5

In [2]:
print(x,y)

['1', '2', '4', '5'] ('1', '2', '4', '5')

# Q5

Define a class which has at least two methods:

getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class methods.

In [10]:
class Strings():
   
    def getString(self):
        self.x=input("enter string=> ")
    def putString(self):
        print(self.x.upper())

In [12]:
obj=Strings()
obj.getString()

enter stringhalo

In [14]:
obj.putString()

HALO

# Q6

Write a program that calculates and prints the value according to the given formula:

Q = Square root of [(2 _ C _ D)/H]

Following are the fixed values of C and H:

C is 50. H is 30.

D is the variable whose values should be input to your program in a comma-separated sequence.For example Let us assume the following comma separated input sequence is given to the program:

100,150,180

In [8]:
D=[int(i)for i in input().split(",")]
C=50
H=30
val=[]
for i in D:
    
    val.append(str(int(int(((2*C*i)/H))**0.5)))

",".join(val)

100,150,180

'18,22,24'

# Q7

Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i _ j.*

Note: i=0,1.., X-1; j=0,1,¡­Y-1. Suppose the following inputs are given to the program: 3,5

Then, the output of the program should be:

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6,

In [18]:
row,col=int(input()),int(input())

arr=[[0 for i in range(col)]for j in range(row)]

for i in range(row):
    for j in range(col):
        arr[i][j]=i*j

print(arr)

3
5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

# Q8

Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.

Suppose the following input is supplied to the program:

In [2]:
x=input().split(",")
x.sort()
",".join(x)

hello,apple,cow

'apple,cow,hello'

# Q9

Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.

Suppose the following input is supplied to the program:

In [2]:
val=[]
while True:
    x=input()
    if x:
        val.append(x.upper())
    else:
        break
for i in val:
    print(i )

hello
there

HELLO
THERE

# Q10

Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.

Suppose the following input is supplied to the program:

In [23]:
x=input().split()

print(sorted(list(set(x))))

s a r e w d s e a h i c
['a', 'c', 'd', 'e', 'h', 'i', 'r', 's', 'w']